@media (min-width: 1200px){
    .navbar-nav{
        position: absolute;
        left: 70%;
        transform: translatex(-70%);
    }
}
body{
    background: #070707;

}

a:link {
	text-decoration: none;
	color: aliceblue;
}

.first{
    background:#070707;
    color: #fff;
    text-align: center;
    padding-top: 2%;
}

/* div [class|="col"]{
    border:3px solid #E60000;
} */

.gris{
    background: rgba(230, 0, 0, 0.075);
}

/* .fondo-prueba{
    background:url(/img/slider/slider-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */

.top-nav-collapse{
    background: rgba(230, 0, 0, 0.801) !important;
}

.carousel-item{
    height: 100vh;
}

.linea-footer{
    background: #E60000;
    width: 100%;
    height: 10px;
}


 .bg-red{
     background: #E60000;
 }

.footer p {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	line-height: 0em;
	margin-bottom: 0.5em;
    margin-top: 0.5em;

}

.footer span {
	text-align: center;
	font-size: 0.9rem;
	line-height: 0em;
	margin-bottom: 10px;

}
